<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @midterm.Title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @midterm.text %>
</p>

<%= link_to 'Edit', edit_midterm_path(@midterm) %> |
<%= link_to 'Back', midterms_path %>
